<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="productKeys" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
 
  <appSettings>
    <add key="CLI.Tool" value="C:\Development\Projects\" />
    <add key="ImageFolder" value="C:\Development\Projects\"/>
    <add key="Image_Version" value="v0.1"/>
    <add key="Show_Warning" value="False" />
    <add key="Num_SD_Cards" value="4" />
    <add key="Configured_Capture_Name" value="Generic STORAGE DEVICE USB Device"/>
    <add key="Hardware_ID" value="USB\VID_05E3&amp;PID_0743" />
  </appSettings>
  
  <productKeys>
    <add key="97048.01" value="BLACK"/>
    <add key="97048.02" value="RED"/>
    <add key="97048.03" value="GREEN"/>
    <add key="97048.04" value="BLUE"/>
    <add key="97048.05" value="ORANGE"/>
    <add key="97048.06" value="PINK"/>
    <add key="97048.07" value="PURPLE"/>
    <add key="97048.08" value="CAMO"/>
  </productKeys>
</configuration>
